.IQSxnQ7i{display:flex;padding:50px 70px}.Blve2Exp{display:flex;flex-wrap:wrap;justify-content:center}.szdTuvnC{margin-right:30px;margin-bottom:30px}.LVlqfi6y{display:flex;padding:50px 0px 40px 30px}
.FKrGXqMr{width:305px;height:200px;cursor:pointer;transition:transform .3s}.FKrGXqMr:hover{transform:translateY(-3%)}@media(max-width: 889px){.FKrGXqMr{width:100%}}
.DreNoaCD{flex-grow:1;width:100%;padding:40px 20px}
