.qTYKVgGn{display:flex;justify-content:center}.NANW24FV{display:flex;justify-content:center;margin-top:20px}.Er9OXSoD{margin-top:20px}.AQN86Xbw{margin-top:15px}
.fjGckXoA{display:flex;flex-direction:column;width:500px;padding:20px;max-width:100%}
